Package: ch.ringwald.gattlogger
Name: GATT Logger
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Logs application GATT / CoreBleuetooth calls
Maintainer: Matthias Ringwald
Author: Matthias Ringwald
Section: Tweaks
