Package: ch.ringwald.corebluetoothlogger
Name: CoreBluetooth Logger
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Show CoreBluetooth actions in syslog
Maintainer: Matthias Ringwald
Author: Matthias Ringwald
Section: Tweaks
